<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header(activeLink = 'chromosomeEdit', chromId = ${chromosome.id}, locusName='')"></div>
<div class="container lead" id="chromosome">
	<div  class="d-flex flex-row-reverse mt-1">
			<form method="post" th:action="@{/logout}">
				<input type="submit" th:value="#{logout}" class="btn btn-info"/>
			</form>
		</div>
	<h1 class="mt-5 mb-5 font-weight-bold gradient" th:text="${chromosome.name}"></h1>
	<hr class="my-4"/>
	<form method="post" th:action="@{/edit/chromosomes/save-chromosome}">
		<input type="hidden" th:field="${chromosome.id}" />
		<input type="hidden" th:field="${chromosome.version}" />
		<div class="form-group">
			<label for="name" th:text="#{edit.chromosome.name}" class="font-weight-bold">Name:</label>
			<input type="text" id="name" th:field="${chromosome.name}" class="form-control col-md-2 border-info"/>
		</div>
		<div class="form-group">
			<label for="size" th:text="#{edit.chromosome.size}" class="font-weight-bold">Size:</label>
			<input type="text" id="size" th:field="${chromosome.size}" class="form-control col-md-3 border-info"/>
		</div>
		<div class="form-group">
			<label for="genes" th:text="#{edit.chromosome.genes}" class="font-weight-bold">Number of genes:</label>
			<input type="text" id="genes" th:field="${chromosome.genes}" class="form-control col-md-1 border-info"/>
		</div>
		<div class="form-group">
			<label for="description" th:text="#{edit.chromosome.description}" class="font-weight-bold">Description:</label>
			<textarea id="description" rows="5" th:field="${chromosome.description}" class="form-control border-info"></textarea>
		</div>
		<div class="form-group">
			<label for="lang" th:text="#{edit.chromosome.lang}" class="font-weight-bold">Language:</label>
			<input type="text" id="lang" th:field="${chromosome.lang}" class="form-control col-md-1 border-info"/>
		</div>
		<div class="form-group">
			<input type="submit" th:value="#{submit.edit.form}" class="btn btn-danger">
		</div>
		
	</form>
	<div id="chromosomeDetails" class="card p-5 mb-5 mt-5 bg-light" >
		<p class="font-italic font-weight-bold" th:text="#{chromosome.loci.title}"></p>
		<a  th:href="@{'/edit/chromosomes/locus-new?chromId=' + ${chromosome.id}}" class="btn btn-success col-md-2 mb-2" th:text="#{add.new.gene}"></a>
		<div >
			<table class="table table-striped">
				<thead>
					<tr>
						<th th:text="#{locus.name}"></th>
						<th th:text="#{chromosomes.table.edit}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${chromosome.loci}">
						<td class="text-info font-weight-bold" th:text="${c.name}"></td>
						<td><a class="btn btn-warning" th:href="@{'/edit/chromosomes/locus-detail?chromId=' + ${chromosome.id}} + '&locusName=' + ${c.name}" th:text="#{locus.edit}">Edit</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr />
	</div>
	<div class="text-right mb-5">
		<a href="#top"><img th:src="@{/images/top.png}" data-toggle="tooltip" data-placement="bottom" data-type="info"  th:title="#{top.page}" /></a>
	</div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>