<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="refresh" content="900" />
<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
<meta name="author" th:content="#{author.name}" />
<meta name="keywords" th:content="#{seo.keywords}" />
<meta name="description" th:content="#{seo.desc}" />
<title th:text="#{page.title}"></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/final.css}" />
<link rel="icon" type="image/x-icon" th:href="@{/public/favicon.ico}" />
<link rel="stylesheet" th:href="@{/fontawesome/css/all.css}" />
</head>
<body>
<div th:fragment="header(activeLink, chromId, locusName)">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark " role="navigation">			
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}" ><img class="img-fluid" th:src="@{/images/logo_1.png}" th:with="text=#{alt.text}" th:attr="alt=${text}" /></a>
				<div class="collapse navbar-collapse" id="navbarResponsive">				
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-font-size" id="my_menu">
						<li th:class="${#strings.equals(activeLink, 'home')} ? 'nav-item active p-1' : 'nav-item p-1'"> <a th:class="${#strings.equals(activeLink, 'home')} ? 'nav-link disabled' : 'nav-link'" th:href="@{/}" th:text="#{navbar.home}"></a> </li>
						<li th:class="${#strings.equals(activeLink, 'about')} ? 'nav-item active p-1' : 'nav-item p-1'"> <a th:class="${#strings.equals(activeLink, 'about')} ? 'nav-link disabled' : 'nav-link'" th:href="@{/about}" th:text="#{navbar.about}"></a> </li>
						<li th:class="${#strings.equals(activeLink, 'methodology')} ? 'nav-item active p-1' : 'nav-item p-1'"> <a th:class="${#strings.equals(activeLink, 'methodology')} ? 'nav-link disabled' : 'nav-link'" th:href="@{/methodology}" th:text="#{navbar.methodology}"></a> </li>
						<li th:class="${#strings.equals(activeLink, 'chromosomes')} ? 'nav-item active p-1' : 'nav-item p-1'"> <a th:class="${#strings.equals(activeLink, 'chromosomes')} ? 'nav-link disabled' : 'nav-link'" th:href="@{/chromosomes}" th:text="#{navbar.browse}"></a> </li>
						<li th:class="${#strings.equals(activeLink, 'karyotype')} ? 'nav-item active p-1' : 'nav-item p-1'"> <a th:class="${#strings.equals(activeLink, 'karyotype')} ? 'nav-link disabled' : 'nav-link'" th:href="@{/karyotype}" th:text="#{navbar.karyotype}"></a> </li>
						<li class="dropdown p-1" th:classappend="${#strings.contains(activeLink, 'chromosomeEdit')} ? 'none': ${#strings.contains(activeLink, 'locusEdit') ? 'none' : #strings.contains(activeLink, 'locusNew') ? 'none' : #strings.contains(activeLink, 'notifySubs') ? 'none' : ''}"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{navbar.lang}"><b class="caret"></b></a>
							<ul class="dropdown-menu ">               			
                				<li th:switch="${activeLink}">
                					<a th:case="'home'" th:href="@{?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'about'" th:href="@{/about?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'methodology'" th:href="@{/methodology?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'karyotype'" th:href="@{/karyotype?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'chromosomes'" th:href="@{?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'chromosome'" th:href="@{'/chromosomes/' + (${chromId} <= 24 ? ${chromId} : ${chromId} - 24) + '?lang=en'}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'locus'" th:href="@{'/chromosomes/' + (${chromId} <= 24 ? ${chromId} : ${chromId} - 24) + '/locus/' + ${locusName} + '?lang=en'}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'registration'" th:href="@{/admin/register?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'login'" th:href="@{/admin/login?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'search'" th:href="@{/search?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'dna-extraction'" th:href="@{/methodology/dna-extraction?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'G-banding'" th:href="@{/methodology/G-banding?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'FISH'" th:href="@{/methodology/fluorescent-in-situ-hybridization?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'PCR'" th:href="@{/methodology/polymerase-chain-reaction?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                					<a th:case="'contact'" th:href="@{/contact-author?lang=en}" id="lang-choice" th:text="#{navbar.lang.choice1}" th:class="${#strings.equals(#locale, 'en')} ? 'nav-link disabled white' : 'nav-link'"></a>
                				</li>
                			
				                <li th:switch="${activeLink}">
				                	<a th:case="'home'" th:href="@{?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
                					<a th:case="'about'" th:href="@{/about?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
                					<a th:case="'methodology'" th:href="@{/methodology?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
                					<a th:case="'karyotype'" th:href="@{/karyotype?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
                					<a th:case="'chromosomes'" th:href="@{?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
                					<a th:case="'chromosome'" th:href="@{'/chromosomes/' + (${chromId} > 24 ? ${chromId} : ${chromId} + 24) + '?lang=rs'}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
									<a th:case="'locus'" th:href="@{'/chromosomes/' + (${chromId} > 24 ? ${chromId} : ${chromId} + 24) + '/locus/' + ${locusName} + '?lang=rs'}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                	<a th:case="'registration'" th:href="@{/admin/register?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                	<a th:case="'login'" th:href="@{/admin/login?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                	<a th:case="'search'" th:href="@{/search?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                	<a th:case="'dna-extraction'" th:href="@{/methodology/dna-extraction?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                	<a th:case="'G-banding'" th:href="@{/methodology/G-banding?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                	<a th:case="'FISH'" th:href="@{/methodology/fluorescent-in-situ-hybridization?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                	<a th:case="'PCR'" th:href="@{/methodology/polymerase-chain-reaction?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                	<a th:case="'contact'" th:href="@{/contact-author?lang=rs}" id="lang-choice" th:text="#{navbar.lang.choice2}" th:class="${#strings.equals(#locale, 'rs')} ? 'nav-link disabled white': ''"></a>
				                </li>
                			</ul>							
						</li>
					</ul>					
				</div>				
					<form class="form-inline  my-2 my-lg-0" id="upper_form" method="get" th:action="@{/search}">				
				    	<input class="form-control mr-sm-1" type="search" th:placeholder="#{navbar.search}" name="q" aria-label="Search" />
				    	<button id="search" class="btn btn-info " ><i class="fab fa-searchengin"></i></button>
			  		</form>
		  			
			</nav>
</div>
<div th:fragment="footer">
	<footer class="bg-dark">
	<div class="container-fluid footer">
		<div class="row text-left">
				<div id="refs" class="col-md-4">
					<hr class="light"/>
					<i class="fas fa-link mr-5 mt-1 mb-1 float-right"></i><h5 th:text="#{footer.references}"></h5>
					<hr class="light"/>
					<p class="ref-size">[1]. <a href="https://en.wikipedia.org/wiki/Chromosome" target="_blank" id="wiki" class="info mr-2">Wikipedia [chromosome]</a>
					[2]. <a href="https://en.wikipedia.org/wiki/DNA" target="_blank" id="wikidna" class="info">Wikipedia [DNA]</a></p>
					<p class="ref-size">[3]. <a href="https://www.sciencedirect.com/topics/neuroscience/human-chromosome" target="_blank" class="info mr-2" id="science">ScienceDirect</a>
					[4]. <a href="https://www.ncbi.nlm.nih.gov/" target="_blank" class="info" id="national">National Center for Biotechnology</a></p>
					<p class="ref-size">[5]. <a href="https://www.genecards.org/" target="_blank" class="info mr-2" id="gene_card">Gene Cards</a>
					[6]. <a href="https://onlinelibrary.wiley.com/doi/book/10.1002/0470033363" target="_blank" class="info" id="technics">Wiley online library</a></p>
					<p class="ref-size">[7]. <a href="https://en.wikipedia.org/wiki/DNA_extraction" target="_blank" class="info mr-2" id="extraction">Wikipedia [DNA extraction]</a>
					[8]. <a href="https://en.wikipedia.org/wiki/G_banding" target="_blank" class="info" id="banding">Wikipedia [G-banding]</a></p>
					<p class="ref-size">[9]. <a href="https://www.sciencedirect.com/topics/agricultural-and-biological-sciences/phenol-chloroform-extraction" target="_blank" class="info mr-2" id="sd">ScienceDirect [Phenol-Chloroform Extraction]</a>
					[10]. <a href="https://en.wikipedia.org/wiki/Fluorescence_in_situ_hybridization" target="_blank" class="info" id="fish">Wikipedia [FISH]</a></p>
					<p class="ref-size">[11]. <a href="https://en.wikipedia.org/wiki/Nick_translation" target="_blank" class="info mr-2" id="nick">Wikipedia [NICK TRANSLATION]</a>
					[12]. <a href="https://www.pixabay.com" target="_blank" class="info mr-2">Pixabay</a>
					[13]. <a href="https://www.researchgate.net" target="blank" class="info">ResearchGate</a></p>
					<p class="ref-size">[14]. <a href="https://en.wikipedia.org/wiki/Polymerase_chain_reaction" target="_blank" class="info mr-2" id="pcr">Wikipedia [PCR]</a>
					[15]. <a href="https://en.wikipedia.org/wiki/Karyotype" target="_blank" class="info" id="karyotype">Wikipedia [Karyotype]</a></p>
					<p class="ref-size">[16]. <a href="https://www.chromosome18.org/what-is-a-karyotype/" target="_blank" class="info" id="chromosome18">The Chromosome 18 Registry and Research Society</a></p>
					<p class="ref-size">[17]. <a href="https://basicmedicalkey.com/principles-of-cytogenetics/" target="_blank" class="info" id="basic">Basicmedical Key</a></p>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<i class="fas fa-sitemap mt-1 mb-1 mr-5 float-right"></i><h5 th:text="#{site.map}"></h5>
					<hr class="light">
					<p class="sitemap mt-5">
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/}" th:text="#{site.map.home}">Home</a>
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/about}" th:text="#{site.map.about}">About</a>
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/methodology}" th:text="#{site.map.methodology}">Methodology</a>
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/chromosomes}" th:text="#{site.map.browse}">Browse</a>
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/karyotype}" th:text="#{site.map.karyotype}">Karyotype</a>
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/methodology/dna-extraction}" th:text="#{site.map.extraction}">Extraction</a>
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/methodology/G-banding}" th:text="#{site.map.banding}">G-Banding</a>
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/methodology/fluorescent-in-situ-hybridization}" th:text="#{site.map.fish}">FISH</a>
						<a class=" btn btn-outline-secondary m-2 map" th:href="@{/methodology/polymerase-chain-reaction}" th:text="#{site.map.pcr}">PCR</a>
					</p>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<i class="fas fa-envelope mt-1 mb-1 mr-5 float-right"></i><h5 th:text="#{news.letter}"></h5>
					<hr class="light">
					
					<form method="post"  th:object = "${subscriber}" th:action="@{/subscribe}"  id="lower_form">
						<input type="hidden" th:field="*{id}" />
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						<div class="form-group form-group-sm">
							<label for="email" class="col-form-label">Email:</label>
							<div class="form-inline">
								<input type="text" th:field="*{email}" id="email" th:placeholder="#{newsletter.subscribe}" class="form-control col-sm-12" />
								<span class="error" th:if ="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								<span id="error" class="error"></span>
								<span id="success" class="success"></span>
							</div>
							<div class="form-group">
								<input type="submit" th:value="#{newsletter.button}"  id="subscribe" class="btn btn-info mt-2"/>
							</div>
						</div>
						
						
					</form>
					
					<p class="disclaimer" th:text="#{submitted.disclaimer}">Submitted email addresses will never be misused by any means.</p>
				</div>
				<div class="col-md-12 text-center">
					<hr class="light">
					<span class="text-success h6 font-weight-bold font-italic mr-2 address">&copy; www.humankaryotype.com</span>
					<span> <small  class="badge badge-secondary dev">devBy <a class="underline" href="mailto:bane74@yahoo.com">author</a></small></span><img class="ml-2 img-fluid" th:src="@{/images/positivessl_trust_seal_sm_124x32.png}" />
				</div>
			</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:src="@{/js/genotype.js}"></script>
</footer>

</div>
</body>
</html>