<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body id="top" class="transparent">
<!-- HEADER -->			
<div th:replace="fragments :: header(activeLink='home', chromId='', locusName='')"></div>
<!--  C A R O U S E L  -->
<div id="slides" class="carousel slide" data-ride="carousel" data-pause="false">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>	
	<div class="carousel-inner mb-3">
		<div class="carousel-item active" data-interval="4000">
			<img th:src="@{/images/carousel_2.png}" class="w-100"/>
			<div class="carousel-caption">
				<h1 class="display-3  text-shadow" th:text="#{carousel.human.karyotype}"></h1>
				<h3 class="text-shadow" th:text="#{carousel.human.karyotype.definition}"></h3>
				<a href="#" class="btn btn-primary btn-md" th:text="#{carousel.human.karyotype.view}"></a>
			</div>
		</div>
		<div class="carousel-item" data-interval="4000">
			<img th:src="@{/images/carousel_1.png}" class="w-100"/>
			<div class="carousel-caption">
				<h1 class="display-3 text-shadow" th:text="#{carousel.precise}"></h1>
				<h3 class="text-shadow" th:text="#{carousel.precise.methodology}"></h3>
				<a href="#" class="btn btn-primary btn-md" th:text="#{carousel.precise.methodology.more}"></a>
			</div>
		</div>
		<div class="carousel-item" data-interval="4000">
			<img th:src="@{/images/carousel_3.png}" class="w-100 "/>
			<div class="carousel-caption">
				<h1 class="display-3  text-shadow" th:text="#{carousel.browse.genes}"></h1>
				<h3 class="text-shadow" th:text="#{carousel.browse.genes.insight}"></h3>
				<a th:href="@{/chromosomes}" class="btn btn-primary btn-md" th:text="#{carousel.browse.now}"></a>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    	<span class="sr-only">Previous</span>
  	</a>
  	<a class="carousel-control-next" href="#slides" role="button" data-slide="next">
    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
    	<span class="sr-only">Next</span>
  	</a>
</div>
	
<img id="virtual_img" th:src="${#strings.equals(#locale, 'en')} ? @{'/images/carousel_3_small_en.png'} : @{'/images/carousel_3_small_rs.png'}" class="img-fluid"/>
<div id="home" class="container-fluid">
<div class="row p-4 ">
<div class="col-md-4  lead padd">
	<h3><span class="badge badge-info span-center" th:text="#{left.title}"></span></h3>
			<p th:text="#{left.upper.top.column}"></p>
			<p th:utext="#{left.upper.bottom.column}"></p>
			 
</div>
<div  class = "col-md-4 padd">
	<div class="jumbotron">
		  <img th:src="@{/images/microscope_objectives.jpg}" class="img-fluid img-thumbnail img-jumbo" />
		  <h2 class="display-6 p-3" th:text="#{jumbo.title}"></h2>
		  <p class="lead display-5" th:text="#{jumbo.text}"></p>
		  <hr class="my-4">
		  <p th:text="#{jumbo.footer}"></p>
		  <a class="btn btn-info btn-md ml-3" href="#" role="button" th:text="#{jumbo.button}"></a>
	</div>
</div>
<div class="col-md-4 lead padd">
	<h3><span class="badge badge-warning span-center" th:text="#{right.title}"></span></h3>
			<p th:text="#{right.upper.top.column}"></p> 
			<p th:utext="#{right.upper.bottom.column}"></p>
</div>
</div>

<hr id="hor" class="my-4 mb-2">
	
	<div id="card_container_row" class="row lead p-4 ">
		<div class="col-md-4 p-4  ">
			<div class="card">
					<img class="card-img-top img-thumbnail" th:src="@{/images/test_tubes.jpg}" />
					<div class="card-body">
						<h4 class="card-title" th:text="#{left.middle.title}"></h4>
						<p class="card-text" th:text="#{left.middle.text}"></p>
						<a href="#" class="btn btn-info " th:text="#{left.middle.button}"></a>
					</div>
				</div>
		</div>		
			
			<div class="col-md-4 fixed p-4 padd" id="over_bgimg">
			<p class="text-left text-shadow font-weight-bold  p-3" th:text="#{middle.middle.text}"></p>
			</div>		
		

		<div class="col-md-4 padd d-flex justify-content-center">
		<p class="twitter">
		<a class="twitter-timeline" data-width="400" data-height="650" data-theme="light" href="https://twitter.com/baneko74/lists/news-from-twitter?ref_src=twsrc%5Etfw">A Twitter List by baneko74</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>     
		</p>
		</div>
	</div>
	<hr id="hor" class="my-4">
	<div id="lower_text" class="row lead p-4">
		<div class="col-md-12 padd mb-2"><h3><span id="dna" class="badge badge-info" th:text="#{dna.title}"></span></h3></div>
		
		<div class="col-md-6 padd"><p th:utext="#{dna.text.upper}"></p>
		<p th:text="#{dna.text.lower}"></p></div>
		 <div class="col-md-6 padd">
		<p><img class="img-fluid ml-3" th:src="${#strings.equals(#locale, 'en')} ? @{/images/dna_structure.png} : @{/images/dna_structure_rs.png}" /></p>
		<p class="imagetitle" th:utext="#{dna.structure}"></p>
		</div>
	</div>
	<hr id="hor" class="my-4" />
	<div class="text-center mb-5">
		<a href="#top"><img th:src="@{/images/top.png}" data-toggle="tooltip" data-placement="bottom" data-type="info"  th:title="#{top.page}" /></a>
	</div>	
	</div>
	<!-- FOOTER -->	
	<div th:replace="fragments :: footer"></div>
</body>
</html>