<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head('Login')"></head>
<body class="transparent">
<div th:replace="fragments :: header(activeLink='login', chromId = '', locusName='')"></div>
<div class="container lead" id="locus">
	<h1 class="mt-5 mb-5 font-weight-bold gradient text-center" th:text=#{login}></h1>
	<div th:if="${param.error}" th:text="#{login.error}" class="alert alert-danger d-flex justify-content-center mb-5" role="alert"></div>
	<div class="d-flex justify-content-center mb-5">
	<form method="post" th:action="@{/admin/login}">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text border-info"><i class="fas fa-user"></i></div>
				</div>
				<input type="text" id="username" name="username" class="form-control col-md-12 border-info" th:placeholder="#{registration.username}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text border-info"><i class="fas fa-lock"></i></div>
				</div>
				<input type="password" id="password" name="password" class="form-control col-md-12 border-info" th:placeholder="#{registration.password}"/>
			</div>
		</div>
		<div class="form-group">
			<input type="submit" th:value="#{login}" class="btn btn-warning">
		</div>
	</form>
	</div>
	<hr class="my-4 mb-5 border-warning" />
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>